<div class="stepper">
  <div class="stepper__child">
    <div>
      <h1><span> 1 </span></h1>
    </div>
  </div>
  <div class="stepper__child">
    <div>
      <h1><span> 2 </span></h1>
    </div>
  </div>
  <div class="stepper__child">
    <div>
      <h1><span> 3 </span></h1>
    </div>
  </div>
</div>

<stepper-wrapper>
  <div class="container general" *ngIf="!nextForm">
    <form [formGroup]="form"><app-general></app-general></form>

    {{ form.value | json }}
    <hr />
    <button
      class="btn btn-primary"
      [disabled]="!form.valid"
      (click)="moveToNext()"
    >
      Next
    </button>
  </div>
  <hr />
  <div class="container address" *ngIf="form.valid && nextForm && !confirmForm">
    <form [formGroup]="addressform"><address></address></form>
    {{ addressform.value | json }} {{ addressform.valid }}
    <hr />
    <button
      class="btn btn-primary"
      [disabled]="!form.valid"
      (click)="previous()"
    >
      Previous
    </button>
    &nbsp;
    <button
      class="btn btn-primary"
      [disabled]="!addressform.valid"
      (click)="nextToConfirm()"
    >
      Next
    </button>
    &nbsp;
  </div>
  <hr />
  <div class="container confirm" *ngIf="addressform.valid && confirmForm">
    <form [formGroup]="confirm">
      <app-confirm (confirmButton)="confirmAddress($event)"></app-confirm>
    </form>
    <hr />
    <button class="btn btn-primary" (click)="previousToConfirm()">
      Previous
    </button>
    &nbsp;
    <button class="btn btn-secondary" (click)="onSubmit()">Submit</button>
  </div>
</stepper-wrapper>

<div class="container">
  <!--
    <app-general></app-general>
    <hr>
    <button class="btn btn-primary">Next</button>
  -->
</div>
